__pycache__/
*.py[cod]
*$py.class

.venv
.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.vscode/

# macOS
.DS_Store

.env
.env.*

data/output/*.json
!data/output/.gitkeep

.cache/

moulinette/
data/correction/
*.zip